@charset "UTF-8";
h1, h2, h3, h4, h5, h6, p, ul, li, span, img, div, a, dd, dt, ol, dl, input {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Helvetica Neue","微软雅黑",sans-serif;
  width: 100%;
}

a, img {
  border: none;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 56.25px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 58.59375px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 60px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 64.375px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 64.6875px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 100px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 120px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 125px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 160px;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 312.5px;
  }
}

.flexslider {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../images/loading.gif) 50% no-repeat;
}

.flex-viewport {
  width: 100%;
  height: 100%;
}

.flexslider .slides {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.flexslider .slides li {
  height: 100%;
}

.flex-control-nav {
  position: absolute;
  bottom: 0.6rem;
  z-index: 2;
  width: 100%;
  text-align: center;
}

.flex-control-nav li {
  display: inline-block;
  width: .14rem;
  height: .14rem;
  margin: 0 .06rem;
  *display: inline;
  zoom: 1;
}

.flex-control-nav a {
  display: inline-block;
  width: .11rem;
  height: .11rem;
  line-height: .4rem;
  overflow: hidden;
  font-size: 0;
  border: 0.03rem solid #ffffff;
  cursor: pointer;
  border-radius: 50%;
  z-index: 222;
}

.flex-control-nav .flex-active {
  background: #ffffff;
  border-radius: 50%;
  z-index: 333;
}

.flexslider .slides .slides_one {
  background: #fdc86c;
}

.flexslider .slides .slides_one h2 {
  font-size: .4rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin-top: .84rem;
}

.flexslider .slides .slides_one h3 {
  font-size: .3rem;
  color: #000000;
  text-align: center;
  margin-top: .1rem;
}

.flexslider .slides .slides_one .slides_one_img {
  width: 5.4rem;
  height: 5.6rem;
  margin: 0 auto;
  margin-top: 1rem;
  position: relative;
}

.flexslider .slides .slides_one .slides_one_img .slides_one_img_circle {
  width: 4.5rem;
  height: 4.5rem;
  background: #fd7602;
  position: absolute;
  top: 0;
  left: .66rem;
  border-radius: 50%;
}

.flexslider .slides .slides_one .slides_one_img .slides_one_img_people {
  display: block;
  width: 5.4em;
  height: 5.6rem;
  background: url(../images/slideone_all.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0.05rem;
  left: 0;
}

.flexslider .slides .slides_one .slides_one_user {
  width: 4.5rem;
  height: .46rem;
  margin: 0 auto;
}

.flexslider .slides .slides_one .slides_one_user span:nth-of-type(1) {
  display: block;
  width: 2.1rem;
  height: .46rem;
  background: url(../images/slideone_apple.png) no-repeat;
  background-size: 100%;
  float: left;
}

.flexslider .slides .slides_one .slides_one_user span:nth-of-type(2) {
  display: block;
  width: 2.1rem;
  height: .46rem;
  background: url(../images/slideone_android.png) no-repeat;
  background-size: 100%;
  float: right;
}

.flexslider .slides .slides_one.flex-active-slide h2 {
  animation: fadeInLeft 1s ease forwards;
}

.flexslider .slides .slides_one.flex-active-slide h3 {
  animation: fadeInUp 1s ease forwards 1s;
  opacity: 0;
}

.flexslider .slides .slides_one.flex-active-slide .slides_one_img .slides_one_img_circle {
  animation: zoomIn 1s ease forwards 2s;
  opacity: 0;
}

.flexslider .slides .slides_one.flex-active-slide .slides_one_img .slides_one_img_people {
  animation: rotateIn 1s ease forwards 3s;
  opacity: 0;
}

.flexslider .slides .slides_one.flex-active-slide .slides_one_user span:nth-of-type(1) {
  animation: fadeInLeft 1s ease forwards 4s;
  opacity: 0;
}

.flexslider .slides .slides_one.flex-active-slide .slides_one_user span:nth-of-type(2) {
  animation: fadeInRight 1s ease forwards 4s;
  opacity: 0;
}

.flexslider .slides .slides_two {
  background: #fc8686;
}

.flexslider .slides .slides_two h2 {
  font-size: .4rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin-top: .84rem;
}

.flexslider .slides .slides_two h3 {
  font-size: .3rem;
  color: #000000;
  text-align: center;
  margin-top: .1rem;
}

.flexslider .slides .slides_two .slides_one_img {
  width: 5.4rem;
  height: 5.6rem;
  margin: 0 auto;
  margin-top: 1rem;
  position: relative;
}

.flexslider .slides .slides_two .slides_one_img .slides_one_img_circle {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  background: #e45b5b;
  border-radius: 50%;
  position: absolute;
  top: .6rem;
  left: 1.27rem;
}

.flexslider .slides .slides_two .slides_one_img .slides_one_img_phone {
  display: block;
  width: 2.4rem;
  height: 4.1rem;
  background: url(../images/slidetwo_phone.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0.05rem;
  left: 1.83rem;
}

.flexslider .slides .slides_two .slides_one_img .slides_one_img_people {
  display: block;
  width: 5.1rem;
  height: 4.3rem;
  background: url(../images/slidetwo_people.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 1.2rem;
  left: 0;
}

.flexslider .slides .slides_two .slides_one_user {
  width: 4.5rem;
  height: .46rem;
  margin: 0 auto;
}

.flexslider .slides .slides_two .slides_one_user span:nth-of-type(1) {
  display: block;
  width: 2.1rem;
  height: .46rem;
  background: url(../images/slideone_apple.png) no-repeat;
  background-size: 100%;
  float: left;
}

.flexslider .slides .slides_two .slides_one_user span:nth-of-type(2) {
  display: block;
  width: 2.1rem;
  height: .46rem;
  background: url(../images/slideone_android.png) no-repeat;
  background-size: 100%;
  float: right;
}

.flexslider .slides .slides_two.flex-active-slide h2 {
  animation: fadeInLeft 1s ease forwards;
}

.flexslider .slides .slides_two.flex-active-slide h3 {
  animation: fadeInUp 1s ease forwards 1s;
  opacity: 0;
}

.flexslider .slides .slides_two.flex-active-slide .slides_one_img .slides_one_img_circle {
  animation: zoomIn 1s ease forwards 2s;
  opacity: 0;
}

.flexslider .slides .slides_two.flex-active-slide .slides_one_img .slides_one_img_phone {
  animation: fadeInDown 1s ease forwards 3s;
  opacity: 0;
}

.flexslider .slides .slides_two.flex-active-slide .slides_one_img .slides_one_img_people {
  animation: turnright 1s ease forwards 4s;
  opacity: 0;
}

.flexslider .slides .slides_two.flex-active-slide .slides_one_user span:nth-of-type(1) {
  animation: fadeInLeft 1s ease forwards 5s;
  opacity: 0;
}

.flexslider .slides .slides_two.flex-active-slide .slides_one_user span:nth-of-type(2) {
  animation: fadeInRight 1s ease forwards 5s;
  opacity: 0;
}

.flexslider .slides .slides_three {
  background: #4ac6c6;
}

.flexslider .slides .slides_three h2 {
  font-size: .4rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin-top: .84rem;
}

.flexslider .slides .slides_three h3 {
  font-size: .3rem;
  color: #000000;
  text-align: center;
  margin-top: .1rem;
}

.flexslider .slides .slides_three .slides_one_img {
  width: 5.4rem;
  height: 5.6rem;
  margin: 0 auto;
  margin-top: 1rem;
  position: relative;
}

.flexslider .slides .slides_three .slides_one_img .slides_one_img_circle {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  background: #08a3a3;
  position: absolute;
  top: .6rem;
  left: .47rem;
  border-radius: 50%;
}

.flexslider .slides .slides_three .slides_one_img .slides_one_img_phone {
  display: block;
  width: 2.5rem;
  height: 4.4rem;
  background: url(../images/slidethree_phone.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: .07rem;
  left: 1.12rem;
}

.flexslider .slides .slides_three .slides_one_img .slides_one_img_tip {
  width: 2.7rem;
  height: 2.1rem;
  display: block;
  background: url(../images/slidethree_tip.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 2.68rem;
  left: 0;
}

.flexslider .slides .slides_three .slides_one_img .slides_one_img_email {
  display: block;
  width: 2rem;
  height: 2.2rem;
  background: url(../images/slidethree_email.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 2.55rem;
  left: 3.1rem;
}

.flexslider .slides .slides_three .slides_one_user {
  width: 4.5rem;
  height: .46rem;
  margin: 0 auto;
}

.flexslider .slides .slides_three .slides_one_user span:nth-of-type(1) {
  display: block;
  width: 2.1rem;
  height: .46rem;
  background: url(../images/slideone_apple.png) no-repeat;
  background-size: 100%;
  float: left;
}

.flexslider .slides .slides_three .slides_one_user span:nth-of-type(2) {
  display: block;
  width: 2.1rem;
  height: .46rem;
  background: url(../images/slideone_android.png) no-repeat;
  background-size: 100%;
  float: right;
}

.flexslider .slides .slides_three.flex-active-slide h2 {
  animation: fadeInLeft 1s ease forwards;
}

.flexslider .slides .slides_three.flex-active-slide h3 {
  animation: fadeInUp 1s ease forwards 1s;
  opacity: 0;
}

.flexslider .slides .slides_three.flex-active-slide .slides_one_img .slides_one_img_circle {
  animation: zoomIn 1s ease forwards 2s;
  opacity: 0;
}

.flexslider .slides .slides_three.flex-active-slide .slides_one_img .slides_one_img_phone {
  animation: fadeInDown 1s ease forwards 2.8s;
  opacity: 0;
}

.flexslider .slides .slides_three.flex-active-slide .slides_one_img .slides_one_img_tip {
  animation: turnleft 1s ease forwards 3.6s;
  opacity: 0;
}

.flexslider .slides .slides_three.flex-active-slide .slides_one_img .slides_one_img_email {
  animation: fadeIn 1s ease forwards 4.4s;
  opacity: 0;
}

.flexslider .slides .slides_three.flex-active-slide .slides_one_user span:nth-of-type(1) {
  animation: fadeInLeft 1s ease forwards 5.4s;
  opacity: 0;
}

.flexslider .slides .slides_three.flex-active-slide .slides_one_user span:nth-of-type(2) {
  animation: fadeInRight 1s ease forwards 5.4s;
  opacity: 0;
}

.flexslider .slides .slides_four {
  background: #49c168;
}

.flexslider .slides .slides_four h2 {
  font-size: .4rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin-top: .84rem;
}

.flexslider .slides .slides_four h3 {
  font-size: .3rem;
  color: #000000;
  text-align: center;
  margin-top: .1rem;
}

.flexslider .slides .slides_four .slides_one_img {
  width: 5.4rem;
  height: 5.6rem;
  margin: 0 auto;
  margin-top: 1rem;
  position: relative;
}

.flexslider .slides .slides_four .slides_one_img .slides_one_img_circle {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  background: #13a038;
  position: absolute;
  top: .6rem;
  left: .3rem;
  border-radius: 50%;
}

.flexslider .slides .slides_four .slides_one_img .slides_one_img_phone {
  display: block;
  width: 2.5rem;
  height: 4.4rem;
  background: url(../images/slidefour_phone.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0.02rem;
  left: .93rem;
}

.flexslider .slides .slides_four .slides_one_img .slides_one_img_tip {
  width: 2.6rem;
  height: .88rem;
  display: block;
  background: url(../images/slidefour_tip.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 2rem;
  left: 0;
}

.flexslider .slides .slides_four .slides_one_img .slides_one_img_email {
  display: block;
  width: 3rem;
  height: 2.22rem;
  background: url(../images/slidefour_people.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 2.26rem;
  left: 2.66rem;
}

.flexslider .slides .slides_four .slides_one_user {
  width: 4.5rem;
  height: .46rem;
  margin: 0 auto;
}

.flexslider .slides .slides_four .slides_one_user span:nth-of-type(1) {
  display: block;
  width: 2.1rem;
  height: .46rem;
  background: url(../images/slideone_apple.png) no-repeat;
  background-size: 100%;
  float: left;
}

.flexslider .slides .slides_four .slides_one_user span:nth-of-type(2) {
  display: block;
  width: 2.1rem;
  height: .46rem;
  background: url(../images/slideone_android.png) no-repeat;
  background-size: 100%;
  float: right;
}

.flexslider .slides .slides_four.flex-active-slide h2 {
  animation: fadeInLeft 1s ease forwards;
}

.flexslider .slides .slides_four.flex-active-slide h3 {
  animation: fadeInUp 1s ease forwards 1s;
  opacity: 0;
}

.flexslider .slides .slides_four.flex-active-slide .slides_one_img .slides_one_img_circle {
  animation: zoomIn 1s ease forwards 2s;
  opacity: 0;
}

.flexslider .slides .slides_four.flex-active-slide .slides_one_img .slides_one_img_phone {
  animation: fadeInDown 1s ease forwards 2.8s;
  opacity: 0;
}

.flexslider .slides .slides_four.flex-active-slide .slides_one_img .slides_one_img_tip {
  animation: turnleft 1s ease forwards 3.6s;
  opacity: 0;
}

.flexslider .slides .slides_four.flex-active-slide .slides_one_img .slides_one_img_email {
  animation: fadeIn 1s ease forwards 4.4s;
  opacity: 0;
}

.flexslider .slides .slides_four.flex-active-slide .slides_one_user span:nth-of-type(1) {
  animation: fadeInLeft 1s ease forwards 5.4s;
  opacity: 0;
}

.flexslider .slides .slides_four.flex-active-slide .slides_one_user span:nth-of-type(2) {
  animation: fadeInRight 1s ease forwards 5.4s;
  opacity: 0;
}

.flexslider .slides .slides_five {
  background: #14bce0;
}

.flexslider .slides .slides_five h2 {
  font-size: .4rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin-top: .84rem;
}

.flexslider .slides .slides_five h3 {
  font-size: .3rem;
  color: #000000;
  text-align: center;
  margin-top: .1rem;
}

.flexslider .slides .slides_five .slides_one_img {
  width: 5.4rem;
  height: 5.6rem;
  margin: 0 auto;
  margin-top: 1rem;
  position: relative;
}

.flexslider .slides .slides_five .slides_one_img .slides_one_img_circle {
  display: block;
  width: 3.95rem;
  height: 3.95rem;
  background: #0192b1;
  position: absolute;
  top: .6rem;
  left: .6rem;
  border-radius: 50%;
}

.flexslider .slides .slides_five .slides_one_img .slides_one_img_phone {
  display: block;
  width: 2.66rem;
  height: 4.6rem;
  background: url(../images/slidefive_phone.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 1.22rem;
}

.flexslider .slides .slides_five .slides_one_img .slides_one_img_money {
  width: 1rem;
  height: 1rem;
  display: block;
  background: url(../images/slidefive_money.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: .47rem;
  left: .68rem;
}

.flexslider .slides .slides_five .slides_one_img .slides_one_img_major {
  width: 1rem;
  height: 1rem;
  display: block;
  background: url(../images/slidefive_major.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 1.96rem;
  left: .05rem;
}

.flexslider .slides .slides_five .slides_one_img .slides_one_img_major {
  width: 1rem;
  height: 1rem;
  display: block;
  background: url(../images/slidefive_major.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 1.96rem;
  left: .05rem;
}

.flexslider .slides .slides_five .slides_one_img .slides_one_img_develop {
  width: 1rem;
  height: 1rem;
  display: block;
  background: url(../images/slidefive_develop.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 3.43rem;
  left: .5rem;
}

.flexslider .slides .slides_five .slides_one_img .slides_one_img_email {
  display: block;
  width: 2.6rem;
  height: 3.3rem;
  background: url(../images/slidefive_people.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 1.53rem;
  left: 2.82rem;
}

.flexslider .slides .slides_five .slides_one_user {
  width: 4.5rem;
  height: .46rem;
  margin: 0 auto;
}

.flexslider .slides .slides_five .slides_one_user span:nth-of-type(1) {
  display: block;
  width: 2.1rem;
  height: .46rem;
  background: url(../images/slideone_apple.png) no-repeat;
  background-size: 100%;
  float: left;
}

.flexslider .slides .slides_five .slides_one_user span:nth-of-type(2) {
  display: block;
  width: 2.1rem;
  height: .46rem;
  background: url(../images/slideone_android.png) no-repeat;
  background-size: 100%;
  float: right;
}

.flexslider .slides .slides_five.flex-active-slide h2 {
  animation: fadeInLeft 1s ease forwards;
}

.flexslider .slides .slides_five.flex-active-slide h3 {
  animation: fadeInUp 1s ease forwards 1s;
  opacity: 0;
}

.flexslider .slides .slides_five.flex-active-slide .slides_one_img .slides_one_img_circle {
  animation: zoomIn 1s ease forwards 2s;
  opacity: 0;
}

.flexslider .slides .slides_five.flex-active-slide .slides_one_img .slides_one_img_phone {
  animation: fadeInDown 1s ease forwards 2.8s;
  opacity: 0;
}

.flexslider .slides .slides_five.flex-active-slide .slides_one_img .slides_one_img_money {
  animation: bounceIn 1s ease forwards 3.6s;
  opacity: 0;
}

.flexslider .slides .slides_five.flex-active-slide .slides_one_img .slides_one_img_major {
  animation: bounceIn 1s ease forwards 4s;
  opacity: 0;
}

.flexslider .slides .slides_five.flex-active-slide .slides_one_img .slides_one_img_develop {
  animation: bounceIn 1s ease forwards 4.4s;
  opacity: 0;
}

.flexslider .slides .slides_five.flex-active-slide .slides_one_img .slides_one_img_email {
  animation: turnleft 1s ease forwards 5s;
  opacity: 0;
}

.flexslider .slides .slides_five.flex-active-slide .slides_one_user span:nth-of-type(1) {
  animation: fadeInLeft 1s ease forwards 6s;
  opacity: 0;
}

.flexslider .slides .slides_five.flex-active-slide .slides_one_user span:nth-of-type(2) {
  animation: fadeInRight 1s ease forwards 6s;
  opacity: 0;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes turnlarge {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes turnleft {
  0% {
    opacity: 0.2;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes turnright {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
